%html
  = render partial: "layouts/application_shared_head"

  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      = render partial: "layouts/application_header"
      = render partial: "layouts/application_sidebar"
      = render partial: "layouts/application_content"
      = render partial: "layouts/application_footer"
      = render partial: "layouts/application_control_sidebar"

    = render partial: "layouts/application_shared_post"